.project-config-container {
  padding-bottom: 48px;

  .page-title {
    margin-top: 20px;
  }

  .accordion-action-buttons {
    margin-top: 48px;
    margin-bottom: 12px;
  }

  .accordion-container {
    .accordion-description {
      display: flex;
      justify-content: end;
    }

    .projects-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .project-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 275px;
        max-width: 300px;
        margin: 8px;

        .project-header {
          background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
          background-size: cover;
        }

        .project-title-container {
          display: flex;
          flex-direction: column;

          .project-open {
            background-color: green;
            color: white;
            padding: 4px 12px;
          }

          .project-closed {
            background-color: red;
            color: white;
            padding: 4px 12px;
          }
        }

        .project-description {
          height: 60px;
          overflow: hidden;
        }

        .action-button-container {
          display: flex;
          justify-content: space-between;

          .edit-button {
            margin-left: 16px;
          }
        }
      }
    }

    .add-new-project-card {
      .form-field {
        margin: 8px;
      }

      .add-new-project-header {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
      }

      .update-project-form {
        display: flex;
        flex-direction: column;

        .form-field {
          margin-bottom: 8px;
        }

        .project-description {
          line-height: 5;
        }

        .buttons-containers {
          display: flex;
          align-items: center;
          justify-content: end;
          margin-top: 32px;

          .add-button {
            width: 50%;
            margin-right: 12px;
          }
        }
      }
    }

    .rough-products-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .rough-product-container {
        min-width: 275px;
        max-width: 300px;
        margin: 8px;

        .rough-product-header {
          background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
          background-size: cover;
        }

        .rough-product-description {
          height: 40px;
          overflow: hidden;
        }

        .delete-button {
          margin-left: 16px;
        }
      }
    }

    .add-new-rough-product-card {
      .form-field {
        margin: 8px;
      }

      .add-new-rough-product-header {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
      }

      .add-new-rough-product-form {
        display: flex;
        flex-direction: column;

        .price-details {
          display: flex;
          justify-content: space-between;

          .quantity, .price {
            flex: 1;
          }
        }

        .rough-product-description {
          line-height: 3;
        }

        .buttons-containers {
          display: flex;
          align-items: center;
          justify-content: end;
          margin-top: 32px;

          .add-button {
            width: 50%;
            margin-right: 12px;
          }
        }
      }
    }
  }
}
