<h3>Detalii proiect</h3>
<div class="accordion-action-buttons">
  <button mat-button (click)="accordion.openAll()">Expandeaza tot</button>
  <button mat-button (click)="accordion.closeAll()">Colapseaza tot</button>
</div>
<mat-accordion class="accordion-container" multi>
  <mat-expansion-panel [expanded]="expandRoughCollectionProducts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Produse brute la nivel de colectie de proiecte
      </mat-panel-title>
      <mat-panel-description class="accordion-description">
        Mai jos gasesti valorile de referinta ale prodselor. Trebuie importate pentru a putea fi folosite
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="rough-products-container">
      <mat-card *ngFor="let collectionRoughProductConfiguration of collectionRoughProductConfigurations" class="rough-product-container">
        <mat-card-header>
          <div mat-card-avatar class="rough-product-header"></div>
          <mat-card-title>{{collectionRoughProductConfiguration.name}}</mat-card-title>
          <mat-card-subtitle>{{collectionRoughProductConfiguration.description}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Cantitatea minima de cumparat: <b>{{collectionRoughProductConfiguration.quantity}}</b>
          </p>
          <p>
            Unitatea de masura: <b>{{collectionRoughProductConfiguration.unitOfMeasure}}</b>
          </p>
          <p>
            Pretul pentru cantitatea de mai sus: <b>{{collectionRoughProductConfiguration.cost}}</b>
          </p>
          <button mat-flat-button color="primary" (click)="importRoughProductAtProject(collectionRoughProductConfiguration)" [disabled]="collectionRoughProductConfiguration.projectID" class="add-button">Importa</button>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="expandRoughProducts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Produse brute la nivel de proiect
      </mat-panel-title>
      <mat-panel-description class="accordion-description">
        Importa produsele de la nivel de colectie pentru a le putea folosi in produsele finite
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="rough-products-container">
      <ng-container *ngIf="projectRoughProductConfigurations && projectRoughProductConfigurations.length; else importRoughProducts">
        <mat-card *ngFor="let projectRoughProductConfiguration of projectRoughProductConfigurations" class="rough-product-container">
          <mat-card-header>
            <div mat-card-avatar class="rough-product-header"></div>
            <mat-card-title>{{projectRoughProductConfiguration.name}}</mat-card-title>
            <mat-card-subtitle>{{projectRoughProductConfiguration.description}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Cantitatea minima de cumparat: <b>{{projectRoughProductConfiguration.quantity}}</b>
            </p>
            <p>
              Unitatea de masura: <b>{{projectRoughProductConfiguration.unitOfMeasure}}</b>
            </p>
            <p>
              Pretul pentru cantitatea de mai sus: <b>{{projectRoughProductConfiguration.cost}}</b>
            </p>
            <button mat-flat-button color="primary" (click)="editRoughProductAtProject(projectRoughProductConfiguration)" class="add-button">Editare</button>
          </mat-card-content>
        </mat-card>
      </ng-container>
      <ng-template #importRoughProducts>
        <div>
          <p>Pentru a putea crea produse finite trebuie sa ai produse brute la nivel de proiect. Pentru asta ai 2 optiuni:</p>
          <p>1. Importi de la nivel de colectie. Expandeaza "Produse brute la nivel de colectie de proiecte", alege un produs si apasa pe Importa. Daca doresti sa schimbi pretul poti sa o faci din "Produse brute la nivel de proiect"</p>
          <p>2. Adaugi un nou produs la nivel de proiect folosind cardul de mai jos</p>
        </div>
      </ng-template>
    </div>
    <mat-card class="add-new-rough-product-card">
      <mat-card-header>
        <div mat-card-avatar class="add-new-rough-product-header"></div>
        <mat-card-title>Adauga un nou produs brut</mat-card-title>
        <mat-card-subtitle>Atentie! Acesta va fi vizibil doar la nivelul acestui proiect, daca nu bifezi si optiunea de importare la nivel de colectie</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="roughProductFormGroup" (ngSubmit)="updateRoughProduct()" class="add-new-rough-product-form" #roughProductformDirective="ngForm">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Nume</mat-label>
            <input matInput formControlName="name" />
            <mat-hint>Hint: Numele noului produs brut</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Descriere</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-hint>Hint: Scurta descriere a noului produs brut</mat-hint>
          </mat-form-field>
          <div class="price-details">
            <mat-form-field appearance="fill" class="form-field quantity">
              <mat-label>Cantitate</mat-label>
              <input type="number" matInput formControlName="quantity" />
              <mat-hint>Hint: Cantitatea la care se vinde produsul. De exemplu: 1 daca se vinde la 1KG sau la 1L sau la 1buc</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Unitatea de masura</mat-label>
              <select matNativeControl formControlName="unitOfMeasure">
                <option *ngFor="let unit of unitOfMeasureValues" [value]="unit" [label]="unitOfMeasures[unit]"></option>
              </select>
              <mat-hint>Hint: Unitatea de masura. De exemplu: KG, Litru, Buc, samd</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field price">
              <mat-label>Pretul de achizitie</mat-label>
              <input type="number" matInput formControlName="cost" />
              <mat-hint>Hint: Pretul de achizitie pentru cantitatea mentionata mai sus</mat-hint>
            </mat-form-field>
          </div>
          <mat-checkbox formControlName="includeInCollection" class="form-field-check-box" color="primary">Include produsul la nivel de colectie daca vrei sa il refolosesti ulterior</mat-checkbox>
          <button mat-flat-button color="primary" type="submit" class="add-button">Adauga</button>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="expandFinalProducts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Produse finite
      </mat-panel-title>
      <mat-panel-description class="accordion-description">
        Mai jos poti adauga produsele finite pentru acest proiect
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="finite-products-container">
      <mat-card *ngFor="let projectFiniteProductConfiguration of projectFiniteProductConfigurations" class="finite-product-container">
        <mat-card-header>
          <div mat-card-avatar class="finite-product-header"></div>
          <mat-card-title>{{projectFiniteProductConfiguration.name}}</mat-card-title>
          <mat-card-subtitle>{{projectFiniteProductConfiguration.description}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let productDetail of projectFiniteProductConfiguration.productDetails">
            <p>
              Produs brut: {{productDetail.name}}
            </p>
            <p>
              Cantitate necesara: {{productDetail.quantity}}
            </p>
            <p>
              Total per produs: {{productDetail.cost}}
            </p>
          </div>
          <p>
            Pretul pentru cantitatea de mai sus: {{projectFiniteProductConfiguration.cost}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-card class="add-new-finite-product-card">
      <mat-card-header>
        <div mat-card-avatar class="add-new-finite-product-header"></div>
        <mat-card-title>Adauga un nou produs finit</mat-card-title>
        <mat-card-subtitle>Dupa ce ai adaugat produsele brute apasa Calculeaza pentru a obtine costul produsului finit</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="finiteProductFormGroup" (ngSubmit)="updateFiniteProduct()" class="add-new-finite-product-form" #finiteProductformDirective="ngForm">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Nume</mat-label>
            <input matInput formControlName="name" />
            <mat-hint>Hint: Numele noului produs finit</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Descriere</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-hint>Hint: Scurta descriere a noului produs finit</mat-hint>
          </mat-form-field>
          <div>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Produse brute
                </mat-panel-title>
                <mat-panel-description class="accordion-description">
                  Produse brute folosite la realizarea produsului finit
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="finite-products-container">
                <ng-container *ngIf="finiteProductFormGroup.get('productDetails'); else noRoughProducts">
                  <div formArrayName="productDetails" *ngFor="let productDetail of finiteProductFormGroup.get('productDetails'); let i = index">
                    <mat-card class="finite-product-container" [formGroupName]="i">
                      <mat-card-header>
                        <div mat-card-avatar class="finite-product-header"></div>
                        <mat-card-title>{{productDetail.name}}</mat-card-title>
                        <mat-card-subtitle>Seteaza cantitatea dorita mai jos</mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <mat-form-field appearance="fill" class="form-field">
                          <mat-label>Numele produsului brut</mat-label>
                          <input matInput formControlName="name" />
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="form-field">
                          <mat-label>Cantitate</mat-label>
                          <input type="number" matInput formControlName="quantity" />
                          <mat-hint>Hint: Cantitatea folosita pentru obtinerea produsului finit</mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="form-field">
                          <mat-label>Costul calculat pentru cantitatea folosita mai sus</mat-label>
                          <input type="number" matInput formControlName="cost" />
                        </mat-form-field>
                        <button mat-fab color="warn" class="action-button" (click)="deleteRoughProductFromAFiniteProduct(finiteProductFormGroup, i)">Delete</button>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </ng-container>
                <ng-template #noRoughProducts>
                  <p>Nu ai adaugat nici un produs brut pana acum. Pentru a realiza un produs finit trebuie sa adaugi cel putin un produs brut.</p>
                </ng-template>
              </div>
              <div class="add-rough-product">
                <mat-form-field appearance="fill" class="form-field import-rough-product">
                  <mat-label>Adauga un nou produs brut:</mat-label>
                  <select matNativeControl>
                    <option *ngFor="let product of collectionRoughProductConfigurations" [value]="product.id" [label]="product.name"></option>
                  </select>
                  <mat-hint>Hint: Alege un produs brut pentru a fi adaugat la produsul finit</mat-hint>
                </mat-form-field>
                <button mat-flat-button color="primary" click="addNewRoughProductToAFiniteProduct()">Adauga</button>
              </div>
            </mat-expansion-panel>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
    <button mat-flat-button color="primary" type="submit" class="add-button">Adauga</button>
  </mat-expansion-panel>
</mat-accordion>
