.project-collection-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;

  .view-collections-container {
    flex: 1;
    margin-right: 48px;

    .view-title-collections {
      margin-bottom: 20px;
    }

    .project-collection {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 48px;

      .action-button-container {
        display: flex;
        align-self: flex-start;

        .action-button {
          margin-left: 16px;
        }
      }
    }
  }

  .update-colection-container {
    flex: 1;
    margin-left: 48px;

    .add-title {
      margin-bottom: 20px;
    }

    .update-project-collection-form {
      display: flex;
      flex-direction: column;

      .form-field {
        margin-bottom: 8px;
      }

      .buttons-containers {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-top: 32px;

        .add-button {
          width: 50%;
          margin-right: 12px;
        }
      }
    }
  }
}
