<div *ngIf="isLoaded" class="project-collection-container">
  <div class="view-collections-container">
    <h1 class="view-title-collections">Lista de colectii:</h1>
    <div *ngFor="let projectCollection of projectCollections" class="project-collection">
      <div>
        <h4>{{ projectCollection.name }}</h4>
        <p>{{ projectCollection.description }}</p>
      </div>
      <div class="action-button-container">
        <button mat-mini-fab color="primary" class="action-button" (click)="viewProjectCollection(projectCollection)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-mini-fab color="primary" class="action-button" (click)="editProjectCollection(projectCollection)">
          <mat-icon>edit_note</mat-icon>
        </button>
        <button mat-mini-fab color="warn" class="action-button" (click)="deleteProjectCollection(projectCollection)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="update-colection-container">
    <h3 *ngIf="updatedProjectCollection" class="add-title">Actualizeaza datele pentru colectia de proiecte</h3>
    <h3 *ngIf="!updatedProjectCollection" class="add-title">Adauga o noua colectie de proiecte</h3>
    <form [formGroup]="projectCollectionForm" (ngSubmit)="updateProjectCollection()" class="update-project-collection-form" #formDirective="ngForm">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Nume</mat-label>
        <input matInput formControlName="name" />
        <mat-hint>Hint: Numele noii colectii de proiecte</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Descriere</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-hint>Hint: Scurta descriere a noii colectii de proiecte</mat-hint>
      </mat-form-field>
      <div class="buttons-containers">
        <button *ngIf="updatedProjectCollection" mat-flat-button color="primary" type="submit" class="add-button">Actualizeaza</button>
        <button *ngIf="!updatedProjectCollection" mat-flat-button color="primary" type="submit" class="add-button">Adauga</button>
        <button *ngIf="updatedProjectCollection" mat-mini-fab color="warn" class="action-button" (click)="resetForm()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
